ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}